{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vars.css' %}" />
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.core.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.theme.min.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;
      
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <title>
      {% block title %}
        openCore
      {% endblock %}
    </title>
  </head>
  <body>
    <div class="nav-bar">
      <div class="logo">
        <a href="{% url 'home' %}">
          <div class="logo-full-dark">
            <img src="{% static 'img/logo.png' %}" style="max-width: 300px" alt="Your Logo Alt Text" />
          </div>
        </a>
      </div>
      <div class="nav-list">
        <div class="link">
          <a href="{% url 'home' %}" class="link-item">Home</a>
        </div>
        <div class="link">
          <a href="#" class="link-item">Sobre nosotros</a>
        </div>
        <div class="link">
          <a href="{% url 'stats' %}" class="link-item">Estadisticas</a>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="search-container">
      <div class="search-bar">
        <div class="search-bar-placeholder-wrapper">
          <form action="{% url 'query_results' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="query" class="placeholder" placeholder="Buscar..." required value={{ query }}>
          </form>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </div>
    </div>
    <div class="spacer"></div>
    {% block content %}

    {% endblock %}
    <div class="spacer"></div>
    <div class="footer">
      <div class="logo-footer">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" style="max-width: 300px" alt="openCore" /></a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
