{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vars.css' %}" />
    <link
      rel="icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>
    <title>{% block title %}openCore{% endblock %}</title>
  </head>
  <body>
    <div class="header-v-19">
      <div class="header-left">
        <div class="logo-full-dark">
          <a href="{% url 'home' %}">
            <div class="logo-full-dark">
              <img
                src="{% static 'img/logo.png' %}"
                style="max-width: 300px"
                alt="Your Logo Alt Text"
              />
            </div>
          </a>
        </div>
        <div class="nav-list">
          <div class="link">
            <a href="{% url 'home' %}" class="link-item">Home</a>
          </div>
          <div class="link">
            <a href="#" class="link-item">Sobre nosotros</a>
          </div>
        </div>
      </div>
      <div class="header-right">
        <form action="{% url 'query_results' %}" method="post">
          {% csrf_token %}
          <div class="input-text">
            <div class="placeholder-wrapper">
              <div class="placeholder">
                <input
                  type="text"
                  name="query"
                  placeholder="Buscar..."
                  required
                />
              </div>
            </div>
            <button type="submit">
              <svg
                class="line-rounded-search"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_6_2489)">
                  <path
                    d="M11.1 11.0999L8.4621 8.46198M0.900024 5.29646C0.900024 2.86831 2.86843 0.899902 5.29658 0.899902C7.72474 0.899902 9.69313 2.86831 9.69313 5.29646C9.69313 7.72462 7.72474 9.69301 5.29658 9.69301C2.86843 9.69301 0.900024 7.72462 0.900024 5.29646Z"
                    stroke="#6D758F"
                    stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_6_2489">
                    <rect width="12" height="12" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="blog-cards-v-8">
      <div class="grid">{% block content %} {% endblock %}</div>
    </div>
    <div class="footer-v-4">
      <div class="logo-full-dark">
        <a href="{% url 'home' %}">
          <img src="{% static 'img/logo.png' %}" style="max-width: 300px" />
        </a>
      </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
