{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vars.css' %}" />
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.core.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.theme.min.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;
      
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <title>
      {% block title %}
        openCore
      {% endblock %}
    </title>
  </head>
  <body>
    <div class="nav-bar">
      <div class="logo">
        <a href="{% url 'home' %}">
          <div class="logo-full-dark">
            <img src="{% static 'img/logo.png' %}" style="max-width: 300px" alt="Your Logo Alt Text" />
          </div>
        </a>
      </div>
      <div class="nav-list">
        <div class="link">
          <a href="{% url 'home' %}" class="link-item">Home</a>
        </div>
        <div class="link">
          <a href="#" class="link-item">Sobre nosotros</a>
        </div>
        <div class="link">
          <a href="{% url 'stats' %}" class="link-item">Estadisticas</a>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="search-container">
      <div class="search-bar">
        <div class="search-bar-placeholder-wrapper">
          <form action="{% url 'query_results' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="query" class="placeholder" placeholder="Buscar...">
          </form>
        </div>
        <svg
          class="line-rounded-search"
          width="11"
          height="11"
          viewBox="0 0 11 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_5707_14082)">
            <path
              d="M9.80469 9.70349L7.60641 7.50522M1.30469 4.86729C1.30469 2.84383 2.94502 1.20349 4.96848 1.20349C6.99195 1.20349 8.63228 2.84383 8.63228 4.86729C8.63228 6.89076 6.99195 8.53108 4.96848 8.53108C2.94502 8.53108 1.30469 6.89076 1.30469 4.86729Z"
              stroke="#6D758F"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_5707_14082">
              <rect
                width="10"
                height="10"
                fill="white"
                transform="translate(0.554688 0.453491)"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="spacer"></div>
    {% block content %}

    {% endblock %}
    <div class="footer">
      <div class="logo-footer">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" style="max-width: 300px" alt="openCore" /></a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
