{% extends 'base.html' %} {% block title %}{{ news.title }}{% endblock %}
{%block content %} {% block news_detail %}
<div class="showcase2-container">
  <header class="showcase2">
    <h2>{{ news.title }}</h2>
  </header>

  <div class="additional-image-container">
    <a href="{{ news.link }}">
      <img
        class="additional-image"
        src="./img/tvn.png"
        alt="Imagen Adicional"
      />
    </a>
  </div>

  <br />
  <h4>Gobierno</h4>
  <h4>Actualidad</h4>
  <h4>Presidente</h4>
  <h5>{{ news.sentiment }}</h5>
  <br />
</div>
{% endblock %} {% endblock %}
