{% extends 'base.html' %} {% block content %} {% block news %}
<header class="showcase">
  <h2>NOTICIA DEL DIA</h2>
  <br />
  <h2>
    Presidente Gabriel Boric confirma quiebre con Irina Karamanos tras
    casi 5 años de relación
  </h2>

  <a href="details.html" class="btn">
    Ver Más <i class="fas fa-chevron-right"></i>
  </a>
</header>

<div class="news-cards">
  {% for news in recent_news %}
  <div>
    <img src="{{ news.img_url }}" alt="" />
    <h3>{{ news.title }}</h3>

    <a href="{{ news.link }}"
      >Leer Mas <i class="fas fa-angle-double-right"></i
    ></a>
  </div>
  {% endfor %}
</div>

<!-- Card Banner 1-->
<section class="cards-banner-one">
  <div class="content">
    <h2>Noticias Negativas</h2>
    <!-- lorem 20 -->
    <p>Aqui podras encontrar noticas negativas recientes</p>
    <a href="#" class="btn">Ver todas<i class="fas fa-chevron-right"></i></a>
  </div>
</section>

<div class="news-cards">
  {% for news in negative_news %}
  <div>
    <img src="{{ news.img_url }}" alt="" />
    <h3>{{ news.title }}</h3>

    <a href="{{ news.link }}"
      >Leer Mas <i class="fas fa-angle-double-right"></i
    ></a>
  </div>
  {% endfor %}
</div>

<!-- third card -->
<section class="cards-banner-two">
  <div class="content">
    <h2>Noticas Positivas.</h2>
    <!-- lorem 30 -->
    <p>Aqui podras encontrar noticas positivas recientes.</p>
    <a href="#" class="btn">Ver todas <i class="fas fa-chevron-right"></i></a>
  </div>
</section>

<!-- NEWS CARDS -->
<div class="news-cards">
  {% for news in positive_news %}
  <div>
    <img src="{{ news.img_url }}" alt="" />
    <h3>{{ news.title }}</h3>

    <a href="{{ news.link }}"
      >Leer Mas <i class="fas fa-angle-double-right"></i
    ></a>
  </div>
  {% endfor %}
</div>

<!-- third card -->
<section class="cards-banner-tree">
  <div class="content">
    <h2>Noticas Neutrales.</h2>
    <!-- lorem 30 -->
    <p>Aqui podras encontrar noticas neutrales recientes.</p>
    <a href="#" class="btn">Ver todas <i class="fas fa-chevron-right"></i></a>
  </div>
</section>

<!-- NEWS CARDS -->
<div class="news-cards">
  {% for news in neutral_news %}
  <div>
    <img src="{{ news.img_url }}" alt="" />
    <h3>{{ news.title }}</h3>

    <a href="{{ news.link }}"
      >Leer Mas <i class="fas fa-angle-double-right"></i
    ></a>
  </div>
  {% endfor %}
</div>
{% endblock %} {% endblock %}
