{% extends 'base.html' %} {% load static %} {% block content %}
{% block news %}
{% load encode_decode %}

<div class="search-container">
  <div class="search-bar">
    <div class="search-bar-placeholder-wrapper">
      <form action="{% url 'query_results' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="query" class="placeholder" placeholder="Buscar una noticia..." value={{ query }}
          required>
      </form>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </div>
</div>

<div class="hero-grid">
  <div class="latest-news-grid">
    <div class="latest-news-principal">
      <div class="image-wrapper-principal">
        <img src="{{ latest_news.0.img_url }}" alt="{{ latest_news.0.title }}" class="image-principal" />
      </div>
      <div class="content-principal">
        <div class="heading-h-2">{{ latest_news.0.title }}</div>
        <div class="spacer">
          <div class="_4-px"></div>
          <div class="text">24</div>
        </div>
        <div class="divider"></div>
        <div class="spacer"></div>
        <div class="top">
          <div class="author-wrapper">
            <div class="circle-avatar">
              <div class="avatar-frame-principal">
                <img src="{% static 'img/source_logos/' %}{{ latest_news.0.website }}.png"
                  alt="{{ latest_news.0.website }}">
              </div>
            </div>
          </div>
          <div class="card-date">
            <a href="{{ latest_news.0.link }}">Leer más</a>
          </div>
          <div class="card-date2">
            {{ latest_news.0.date_published|date:"j \d\e F, Y" }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-1-col">
    {% for news in latest_news|slice:"1:" %}
    <div class="blog-card-v-5-mini">
      <div class="image-wrapper-mini">
        <img src="{{ news.img_url }}" alt="{{ news.title }}" class="image-mini" />
      </div>
      <div class="content-mini">
        <div class="heading-h-2-mini">{{ news.title }}</div>
        <div class="spacer2"></div>
        <div class="top-mini">
          <div class="author-wrapper-mini">
            <div class="circle-avatar2">
              <div class="avatar-frame-mini">
                <img src="{% static 'img/source_logos/' %}{{ news.website }}.png" alt="{{ news.website }}">
              </div>
            </div>
            <div class="card-date3">
              <a href="{{ news.link }}">Leer más</a>
            </div>
          </div>
          <div class="card-date-mini">
            {{ news.date_published|date:"j \d\e F, Y" }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="spacer"></div>

<div class="recent-news-grid">
  <div class="recent-news-grid2">
    <div class="heading-h-2">Noticias recientes</div>
    <div class="spacer"></div>
    <div class="paragraph">
      Enterate de las últimas noticias de la política chilena.
    </div>
    <div class="spacer"></div>
  </div>
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {% for news in recent_news %}
        <li class="glide__slide">
          <div class="item">
            <div class="image-replace">
              <img src="{{ news.img_url }}" alt="{{ news.title }}" class="image-replace" />
            </div>
            <div class="spacer"></div>
            <div class="heading-h-3">
              <a href="{{ news.link }}">
                {{ news.title|truncatechars:60 }}
              </a>
            </div>
            <div class="spacer"></div>
            <div class="sentiment-tag {{ news.sentiment|lower }}">
              <div class="button-text">
                {{ news.sentiment }}
              </div>
            </div>
            <div class="spacer"></div>
            <div class="top-mini">
              <div class="card-avatar">
                <div class="card-avatar-mini">
                  <img src="{% static 'img/source_logos/' %}{{ news.website }}.png" alt="{{ news.website }}">
                </div>
              </div>
              <div class="card-date-mini">
                {{ news.date_published|date:"j \d\e F, Y" }}
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">Prev</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">Next</button>
    </div>
  </div>
</div>
</div>

<div class="spacer"></div>

<div class="stats">
  <div class="heading-h-2">Nuestros numeros</div>
  <div class="spacer"></div>
  <div class="footer-description">
    Hasta la fecha, hemos trabajado incansablemente para proporcionarte análisis de sentimientos de noticias precisos y
    oportunos. Los números que se presentarán a continuación son un testimonio de nuestro compromiso, ayudándote a
    entender mejor el panorama mediático y a tomar decisiones informadas.
  </div>
  <div class="spacer"></div>
  <div class="stats-row">
    <div class="stat-card">
      <div class="big-number">
        {{ total_news }}
      </div>
      <div class="spacer"></div>
      <div class="heading-h-3">Noticias</div>
      <div class="spacer"></div>
    </div>
    <div class="stat-card">
      <div class="big-number">
        400k+
      </div>
      <div class="spacer"></div>
      <div class="heading-h-3">Palabras</div>
      <div class="spacer"></div>
    </div>
    <div class="stat-card">
      <div class="big-number">8</div>
      <div class="spacer"></div>
      <div class="heading-h-3">Fuentes</div>
      <div class="spacer"></div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="source-logos-container">
  <div class="source-logos-content">
    <div class="heading-h-2">Nuestras fuentes</div>
    <div class="spacer"></div>
    <div class="footer-description">
      Trabajamos con fuentes de noticias confiables para proporcionar la información más precisa y actualizada.
    </div>
    <div class="spacer"></div>
    <div class="logos-wrapper">
      <a href="https://www.adnradio.cl/">
        <img src="{% static 'img/source_logos/adn.png' %}" alt="ADN">
      </a>
      <a href="https://www.chilevision.cl/">
        <img src="{% static 'img/source_logos/chvn.png' %}" alt="Chilevision">
      </a>
      <a href="https://www.cnnchile.com/">
        <img src="{% static 'img/source_logos/cnn.png' %}" alt="CNN">
      </a>
      <a href="https://www.eldinamo.cl/">
        <img src="{% static 'img/source_logos/dinamo.png' %}" alt="El dinamo">
      </a>
      <a href="https://www.elmostrador.cl/">
        <img src="{% static 'img/source_logos/elmostrador.png' %}" alt="El mostrador">
      </a>
      <a href="https://www.latercera.com/">
        <img src="{% static 'img/source_logos/latercera.png' %}" alt="La tercera">
      </a>
      <a href="https://www.meganoticias.cl/">
        <img src="{% static 'img/source_logos/meganoticias.png' %}" alt="Mega">
      </a>
      <a href="https://www.t13.cl/">
        <img src="{% static 'img/source_logos/t13.png' %}" alt="T13">
      </a>
    </div>
    <div class="spacer"></div>
  </div>
</div>


{% endblock %}
{% endblock %}