/* HEADER */
.nav-bar,
.nav-bar * {
  box-sizing: border-box;
}

.nav-bar {
  background: var(--neutralcolors-300, #f1f3f7);
  padding: 1.5rem 10.4375rem 1.5rem 10.4375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 0.35125rem;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.link-item {
  color: var(--neutralcolors-600, #6d758f);
  text-align: center;
  font-family: var(--display-3-regular-font-family,
      "Inter-Regular",
      sans-serif);
  font-size: var(--display-3-regular-font-size, 1rem);
  line-height: var(--display-3-regular-line-height, 1.375rem);
  font-weight: var(--display-3-regular-font-weight, 400);
  position: relative;
}

/* HEADER */

/* BODY */

.hero-grid,
.hero-grid * {
  box-sizing: border-box;
}

.hero-grid {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

/* BODY */

/* LATEST NEWS */

.latest-news-grid {
  display: flex;
  flex-direction: row;
  gap: 1.375rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.latest-news-principal {
  background: var(--neutralcolors-100, #ffffff);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: var(--neutralcolors-400, #e1e4ed);
  border-width: 0.0625rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(--neutral-shadow-02-box-shadow,
      0rem 0.0625rem 0.25rem 0rem rgba(25, 33, 61, 0.08));
  overflow: hidden;
  max-width: 60rem;
}

.image-wrapper-principal {
  background: var(--neutralcolors-300, #f1f3f7);
  align-self: stretch;
  flex-shrink: 0;
  height: 25rem;
  position: relative;
}

.image-wrapper-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-principal {
  padding: 0rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.heading-h-2 {
  color: var(--neutralcolors-600, #6d758f);
  text-align: left;
  font-family: var(--display-7-semi-bold-font-family,
      "Inter-SemiBold",
      sans-serif);
  font-size: var(--display-7-semi-bold-font-size, 1.875rem);
  line-height: var(--display-7-semi-bold-line-height, 2.25rem);
  font-weight: var(--display-7-semi-bold-font-weight, 600);
  position: relative;
  align-self: stretch;
}

.spacer {
  opacity: 0;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.text {
  color: var(--neutralcolors-600, #6d758f);
  text-align: center;
  font-family: var(--display-1-uppercase-semi-bold-font-family,
      "Inter-SemiBold",
      sans-serif);
  font-size: var(--display-1-uppercase-semi-bold-font-size, 0.75rem);
  line-height: var(--display-1-uppercase-semi-bold-line-height, 1.125rem);
  font-weight: var(--display-1-uppercase-semi-bold-font-weight, 600);
  text-transform: uppercase;
  position: absolute;
  right: 12.5%;
  left: 16.67%;
  width: 70.83%;
  bottom: 33.33%;
  top: 29.17%;
  height: 37.5%;
}

.divider {
  border-style: solid;
  border-color: var(--neutralcolors-400, #e1e4ed);
  border-width: 0.0625rem 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0rem;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.author-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
}

.circle-avatar {
  border-radius: 2.125rem;
  overflow: hidden;
}

.avatar-frame-principal {
  background: var(--neutralcolors-300, #f1f3f7);
  width: 7rem;
}

.avatar-frame-principal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-date {
  color: var(--neutralcolors-600, #6d758f);
  text-align: left;
  font-family: var(--display-2-semi-bold-font-family,
      "Inter-SemiBold",
      sans-serif);
  font-size: var(--display-2-semi-bold-font-size, 0.875rem);
  line-height: var(--display-2-semi-bold-line-height, 1.25rem);
  font-weight: var(--display-2-semi-bold-font-weight, 600);
  position: relative;
}

.card-date2 {
  color: var(--neutralcolors-600, #6d758f);
  text-align: right;
  font-family: var(--display-2-semi-bold-font-family,
      "Inter-SemiBold",
      sans-serif);
  font-size: var(--display-2-semi-bold-font-size, 0.875rem);
  line-height: var(--display-2-semi-bold-line-height, 1.25rem);
  font-weight: var(--display-2-semi-bold-font-weight, 600);
  position: relative;
}

.grid-1-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  margin-left: 1rem;
  max-width: 45rem;
}

.blog-card-v-5-mini {
  background: var(--neutralcolors-100, #ffffff);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: var(--neutralcolors-400, #e1e4ed);
  border-width: 0.0625rem;
  padding: 0rem 0.875rem 0rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 1.1875rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(--neutral-shadow-02-box-shadow,
      0rem 0.0625rem 0.25rem 0rem rgba(25, 33, 61, 0.08));
}

.image-wrapper-mini {
  background: var(--neutralcolors-300, #f1f3f7);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  flex-shrink: 0;
  width: 13rem;
  height: 12.125rem;
  position: relative;
}

.image-wrapper-mini img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-mini {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}

.heading-h-2-mini {
  color: var(--neutralcolors-600, #6d758f);
  text-align: left;
  font-family: var(--display-2-semi-bold-font-family,
      "Inter-SemiBold",
      sans-serif);
  font-size: var(--display-2-semi-bold-font-size, 0.875rem);
  line-height: var(--display-2-semi-bold-line-height, 1.25rem);
  font-weight: var(--display-2-semi-bold-font-weight, 600);
  position: relative;
  align-self: stretch;
}

.spacer2 {
  opacity: 0;
  flex-shrink: 0;
  width: 1rem;
  height: 3rem;
  position: relative;
}

.top-mini {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.author-wrapper-mini {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.circle-avatar2 {
  border-radius: 2.041875rem;
  flex-shrink: 0;
  width: 3.5rem;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
}

.avatar-frame-mini {
  background: var(--neutralcolors-300, #f1f3f7);
  width: 3rem;
  height: 1.5rem;
  overflow: hidden;
}

.avatar-frame-mini img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-date3 {
  color: var(--neutralcolors-600, #6d758f);
  text-align: left;
  font-family: var(--display-1-regular-font-family,
      "Inter-Regular",
      sans-serif);
  font-size: var(--display-1-regular-font-size, 0.75rem);
  line-height: var(--display-1-regular-line-height, 1.125rem);
  font-weight: var(--display-1-regular-font-weight, 400);
  position: relative;
}

.card-date-mini {
  color: var(--neutralcolors-600, #6d758f);
  text-align: right;
  font-family: var(--display-1-regular-font-family,
      "Inter-Regular",
      sans-serif);
  font-size: var(--display-1-regular-font-size, 0.75rem);
  line-height: var(--display-1-regular-line-height, 1.125rem);
  font-weight: var(--display-1-regular-font-weight, 400);
  position: relative;
}

.blog-card-v-5 {
  background: var(--neutralcolors-100, #ffffff);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: var(--neutralcolors-400, #e1e4ed);
  border-width: 0.0625rem;
  padding: 0rem 0.875rem 0rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 1.1875rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 28rem;
  position: relative;
  box-shadow: var(--neutral-shadow-02-box-shadow,
      0rem 0.0625rem 0.25rem 0rem rgba(25, 33, 61, 0.08));
}

.image-wrapper {
  background: var(--neutralcolors-300, #f1f3f7);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  flex-shrink: 0;
  width: 13rem;
  height: 12.125rem;
  position: relative;
}

/* LATEST NEWS */

/* RECENT NEWS */
.recent-news-grid,
.recent-news-grid * {
  box-sizing: border-box;
}

.recent-news-grid {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.recent-news-grid2 {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.paragraph {
  color: var(--neutralcolors-600, #6d758f);
  text-align: center;
  font-family: var(--paragraph-medium-regular-font-family,
      "Inter-Regular",
      sans-serif);
  font-size: var(--paragraph-medium-regular-font-size, 1rem);
  line-height: var(--paragraph-medium-regular-line-height, 1.5rem);
  font-weight: var(--paragraph-medium-regular-font-weight, 400);
  position: relative;
  width: 28.855rem;
}

.text2 {
  color: var(--neutralcolors-600, #6d758f);
  text-align: center;
  font-family: var(--display-1-uppercase-semi-bold-font-family,
      "Inter-SemiBold",
      sans-serif);
  font-size: var(--display-1-uppercase-semi-bold-font-size, 0.75rem);
  line-height: var(--display-1-uppercase-semi-bold-line-height, 1.125rem);
  font-weight: var(--display-1-uppercase-semi-bold-font-weight, 600);
  text-transform: uppercase;
  position: absolute;
  right: 27.5%;
  left: 30%;
  width: 42.5%;
  bottom: 38.75%;
  top: 38.75%;
  height: 22.5%;
}

._4-col-grid {
  display: flex;
  flex-direction: row;
  gap: 1.375rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  max-width: 100rem;
}

.carousel,
.carousel .item {
  width: 100%;
  height: auto;
  /* Or a specific height */
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 20rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 2em;
  max-width: min-content;
}

.image-replace {
  background: var(--neutralcolors-300, #f1f3f7);
  border-radius: 0.5rem;
  flex-shrink: 0;
  width: 16.25rem;
  height: 10.875rem;
  position: relative;
  overflow: hidden;
}

.image-replace img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading-h-3 {
  color: var(--neutralcolors-600, #6d758f);
  text-align: left;
  font-family: var(--display-4-extra-bold-font-family,
      "Inter-ExtraBold",
      sans-serif);
  font-size: var(--display-4-extra-bold-font-size, 0.95rem);
  line-height: var(--display-4-extra-bold-line-height, 1.5rem);
  font-weight: var(--display-4-extra-bold-font-weight, 800);
  position: relative;
}

.paragraph2 {
  color: var(--neutralcolors-600, #6d758f);
  text-align: left;
  font-family: var(--paragraph-medium-regular-font-family,
      "Inter-Regular",
      sans-serif);
  font-size: var(--paragraph-medium-regular-font-size, 1rem);
  line-height: var(--paragraph-medium-regular-line-height, 1.5rem);
  font-weight: var(--paragraph-medium-regular-font-weight, 400);
  position: relative;
  width: 16.1875rem;
}

.text3 {
  color: var(--neutralcolors-600, #6d758f);
  text-align: center;
  font-family: var(--display-1-uppercase-semi-bold-font-family,
      "Inter-SemiBold",
      sans-serif);
  font-size: var(--display-1-uppercase-semi-bold-font-size, 0.75rem);
  line-height: var(--display-1-uppercase-semi-bold-line-height, 1.125rem);
  font-weight: var(--display-1-uppercase-semi-bold-font-weight, 600);
  text-transform: uppercase;
  position: absolute;
  right: 21.88%;
  left: 25%;
  width: 53.12%;
  bottom: 35.94%;
  top: 35.94%;
  height: 28.12%;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.link-item {
  color: var(--neutralcolors-600, #6d758f);
  text-align: center;
  font-family: var(--display-3-extra-bold-font-family,
      "Inter-ExtraBold",
      sans-serif);
  font-size: var(--display-3-extra-bold-font-size, 1rem);
  line-height: var(--display-3-extra-bold-line-height, 1.375rem);
  font-weight: var(--display-3-extra-bold-font-weight, 800);
  position: relative;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button::before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RECENT NEWS */