/* Figma Styles of your File */
:root {
        /* Colors */
        --primarypalette-red: #ff2d46;
        --primarypalette-blue: #2388ff;
        --primarypalette-yellow: #ffc700;
        --primarypalette-green: #63de77;
        --secondarycolors-red-400: #fe566b;
        --secondarycolors-red-300: #fb93a3;
        --secondarycolors-red-200: #fac6d0;
        --secondarycolors-red-100: #ffecef;
        --secondarycolors-blue-400: #4e9fff;
        --secondarycolors-blue-300: #8dc1ff;
        --secondarycolors-blue-200: #c3ddff;
        --secondarycolors-blue-100: #e3efff;
        --secondarycolors-yellow-400: #fed133;
        --secondarycolors-yellow-300: #fbe080;
        --secondarycolors-yellow-200: #faedbf;
        --secondarycolors-yellow-100: #fffae9;
        --secondarycolors-green-400: #81e492;
        --secondarycolors-green-300: #adecbb;
        --secondarycolors-green-200: #d3f2dd;
        --secondarycolors-green-100: #eef9f5;
        --neutralcolors-800: #19213d;
        --neutralcolors-700: #353e5c;
        --neutralcolors-600: #6d758f;
        --neutralcolors-500: #b4b9c9;
        --neutralcolors-400: #e1e4ed;
        --neutralcolors-300: #f1f3f7;
        --neutralcolors-200: #f8faff;
        --neutralcolors-100: #ffffff;
        --other-icongradients: radial-gradient(closest-side,
                        rgba(246, 250, 253, 0.28) 0%,
                        rgba(246, 250, 253, 1) 100%);

        /* Fonts */
        --display-17-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-17-extra-bold-font-size: 14.375rem;
        --display-17-extra-bold-line-height: 14.375rem;
        --display-17-extra-bold-font-weight: 800;
        --display-17-extra-bold-font-style: normal;
        --display-17-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-17-semi-bold-font-size: 14.375rem;
        --display-17-semi-bold-line-height: 14.375rem;
        --display-17-semi-bold-font-weight: 600;
        --display-17-semi-bold-font-style: normal;
        --display-17-regular-font-family: Inter-Regular, sans-serif;
        --display-17-regular-font-size: 14.375rem;
        --display-17-regular-line-height: 14.375rem;
        --display-17-regular-font-weight: 400;
        --display-17-regular-font-style: normal;
        --display-17-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-17-uppercase-extra-bold-font-size: 14.375rem;
        --display-17-uppercase-extra-bold-line-height: 14.375rem;
        --display-17-uppercase-extra-bold-font-weight: 800;
        --display-17-uppercase-extra-bold-font-style: normal;
        --display-17-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-17-uppercase-semi-bold-font-size: 14.375rem;
        --display-17-uppercase-semi-bold-line-height: 14.375rem;
        --display-17-uppercase-semi-bold-font-weight: 600;
        --display-17-uppercase-semi-bold-font-style: normal;
        --display-17-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-17-uppercase-regular-font-size: 14.375rem;
        --display-17-uppercase-regular-line-height: 14.375rem;
        --display-17-uppercase-regular-font-weight: 400;
        --display-17-uppercase-regular-font-style: normal;
        --display-16-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-16-extra-bold-font-size: 12.5rem;
        --display-16-extra-bold-line-height: 12.5rem;
        --display-16-extra-bold-font-weight: 800;
        --display-16-extra-bold-font-style: normal;
        --display-16-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-16-semi-bold-font-size: 12.5rem;
        --display-16-semi-bold-line-height: 12.5rem;
        --display-16-semi-bold-font-weight: 600;
        --display-16-semi-bold-font-style: normal;
        --display-16-regular-font-family: Inter-Regular, sans-serif;
        --display-16-regular-font-size: 12.5rem;
        --display-16-regular-line-height: 12.5rem;
        --display-16-regular-font-weight: 400;
        --display-16-regular-font-style: normal;
        --display-16-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-16-uppercase-extra-bold-font-size: 12.5rem;
        --display-16-uppercase-extra-bold-line-height: 12.5rem;
        --display-16-uppercase-extra-bold-font-weight: 800;
        --display-16-uppercase-extra-bold-font-style: normal;
        --display-16-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-16-uppercase-semi-bold-font-size: 12.5rem;
        --display-16-uppercase-semi-bold-line-height: 12.5rem;
        --display-16-uppercase-semi-bold-font-weight: 600;
        --display-16-uppercase-semi-bold-font-style: normal;
        --display-16-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-16-uppercase-regular-font-size: 12.5rem;
        --display-16-uppercase-regular-line-height: 12.5rem;
        --display-16-uppercase-regular-font-weight: 400;
        --display-16-uppercase-regular-font-style: normal;
        --display-15-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-15-extra-bold-font-size: 11.25rem;
        --display-15-extra-bold-line-height: 11.25rem;
        --display-15-extra-bold-font-weight: 800;
        --display-15-extra-bold-font-style: normal;
        --display-15-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-15-semi-bold-font-size: 11.25rem;
        --display-15-semi-bold-line-height: 11.25rem;
        --display-15-semi-bold-font-weight: 600;
        --display-15-semi-bold-font-style: normal;
        --display-15-regular-font-family: Inter-Regular, sans-serif;
        --display-15-regular-font-size: 11.25rem;
        --display-15-regular-line-height: 11.25rem;
        --display-15-regular-font-weight: 400;
        --display-15-regular-font-style: normal;
        --display-15-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-15-uppercase-extra-bold-font-size: 11.25rem;
        --display-15-uppercase-extra-bold-line-height: 11.25rem;
        --display-15-uppercase-extra-bold-font-weight: 800;
        --display-15-uppercase-extra-bold-font-style: normal;
        --display-15-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-15-uppercase-semi-bold-font-size: 11.25rem;
        --display-15-uppercase-semi-bold-line-height: 11.25rem;
        --display-15-uppercase-semi-bold-font-weight: 600;
        --display-15-uppercase-semi-bold-font-style: normal;
        --display-15-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-15-uppercase-regular-font-size: 11.25rem;
        --display-15-uppercase-regular-line-height: 11.25rem;
        --display-15-uppercase-regular-font-weight: 400;
        --display-15-uppercase-regular-font-style: normal;
        --display-14-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-14-extra-bold-font-size: 9.375rem;
        --display-14-extra-bold-line-height: 9.375rem;
        --display-14-extra-bold-font-weight: 800;
        --display-14-extra-bold-font-style: normal;
        --display-14-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-14-semi-bold-font-size: 9.375rem;
        --display-14-semi-bold-line-height: 9.375rem;
        --display-14-semi-bold-font-weight: 600;
        --display-14-semi-bold-font-style: normal;
        --display-14-regular-font-family: Inter-Regular, sans-serif;
        --display-14-regular-font-size: 9.375rem;
        --display-14-regular-line-height: 9.375rem;
        --display-14-regular-font-weight: 400;
        --display-14-regular-font-style: normal;
        --display-14-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-14-uppercase-extra-bold-font-size: 9.375rem;
        --display-14-uppercase-extra-bold-line-height: 9.375rem;
        --display-14-uppercase-extra-bold-font-weight: 800;
        --display-14-uppercase-extra-bold-font-style: normal;
        --display-14-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-14-uppercase-semi-bold-font-size: 9.375rem;
        --display-14-uppercase-semi-bold-line-height: 9.375rem;
        --display-14-uppercase-semi-bold-font-weight: 600;
        --display-14-uppercase-semi-bold-font-style: normal;
        --display-14-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-14-uppercase-regular-font-size: 9.375rem;
        --display-14-uppercase-regular-line-height: 9.375rem;
        --display-14-uppercase-regular-font-weight: 400;
        --display-14-uppercase-regular-font-style: normal;
        --display-13-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-13-extra-bold-font-size: 7.5rem;
        --display-13-extra-bold-line-height: 7.5rem;
        --display-13-extra-bold-font-weight: 800;
        --display-13-extra-bold-font-style: normal;
        --display-13-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-13-semi-bold-font-size: 7.5rem;
        --display-13-semi-bold-line-height: 7.5rem;
        --display-13-semi-bold-font-weight: 600;
        --display-13-semi-bold-font-style: normal;
        --display-13-regular-font-family: Inter-Regular, sans-serif;
        --display-13-regular-font-size: 7.5rem;
        --display-13-regular-line-height: 7.5rem;
        --display-13-regular-font-weight: 400;
        --display-13-regular-font-style: normal;
        --display-13-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-13-uppercase-extra-bold-font-size: 7.5rem;
        --display-13-uppercase-extra-bold-line-height: 7.5rem;
        --display-13-uppercase-extra-bold-font-weight: 800;
        --display-13-uppercase-extra-bold-font-style: normal;
        --display-13-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-13-uppercase-semi-bold-font-size: 7.5rem;
        --display-13-uppercase-semi-bold-line-height: 7.5rem;
        --display-13-uppercase-semi-bold-font-weight: 600;
        --display-13-uppercase-semi-bold-font-style: normal;
        --display-13-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-13-uppercase-regular-font-size: 7.5rem;
        --display-13-uppercase-regular-line-height: 7.5rem;
        --display-13-uppercase-regular-font-weight: 400;
        --display-13-uppercase-regular-font-style: normal;
        --display-12-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-12-extra-bold-font-size: 6rem;
        --display-12-extra-bold-line-height: 6rem;
        --display-12-extra-bold-font-weight: 800;
        --display-12-extra-bold-font-style: normal;
        --display-12-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-12-semi-bold-font-size: 6rem;
        --display-12-semi-bold-line-height: 6rem;
        --display-12-semi-bold-font-weight: 600;
        --display-12-semi-bold-font-style: normal;
        --display-12-regular-font-family: Inter-Regular, sans-serif;
        --display-12-regular-font-size: 6rem;
        --display-12-regular-line-height: 6rem;
        --display-12-regular-font-weight: 400;
        --display-12-regular-font-style: normal;
        --display-12-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-12-uppercase-extra-bold-font-size: 6rem;
        --display-12-uppercase-extra-bold-line-height: 6rem;
        --display-12-uppercase-extra-bold-font-weight: 800;
        --display-12-uppercase-extra-bold-font-style: normal;
        --display-12-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-12-uppercase-semi-bold-font-size: 6rem;
        --display-12-uppercase-semi-bold-line-height: 6rem;
        --display-12-uppercase-semi-bold-font-weight: 600;
        --display-12-uppercase-semi-bold-font-style: normal;
        --display-12-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-12-uppercase-regular-font-size: 6rem;
        --display-12-uppercase-regular-line-height: 6rem;
        --display-12-uppercase-regular-font-weight: 400;
        --display-12-uppercase-regular-font-style: normal;
        --display-11-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-11-extra-bold-font-size: 4.5rem;
        --display-11-extra-bold-line-height: 4.5rem;
        --display-11-extra-bold-font-weight: 800;
        --display-11-extra-bold-font-style: normal;
        --display-11-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-11-semi-bold-font-size: 4.5rem;
        --display-11-semi-bold-line-height: 4.5rem;
        --display-11-semi-bold-font-weight: 600;
        --display-11-semi-bold-font-style: normal;
        --display-11-regular-font-family: Inter-Regular, sans-serif;
        --display-11-regular-font-size: 4.5rem;
        --display-11-regular-line-height: 4.5rem;
        --display-11-regular-font-weight: 400;
        --display-11-regular-font-style: normal;
        --display-11-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-11-uppercase-extra-bold-font-size: 4.5rem;
        --display-11-uppercase-extra-bold-line-height: 4.5rem;
        --display-11-uppercase-extra-bold-font-weight: 800;
        --display-11-uppercase-extra-bold-font-style: normal;
        --display-11-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-11-uppercase-semi-bold-font-size: 4.5rem;
        --display-11-uppercase-semi-bold-line-height: 4.5rem;
        --display-11-uppercase-semi-bold-font-weight: 600;
        --display-11-uppercase-semi-bold-font-style: normal;
        --display-11-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-11-uppercase-regular-font-size: 4.5rem;
        --display-11-uppercase-regular-line-height: 4.5rem;
        --display-11-uppercase-regular-font-weight: 400;
        --display-11-uppercase-regular-font-style: normal;
        --display-10-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-10-extra-bold-font-size: 3.75rem;
        --display-10-extra-bold-line-height: 3.75rem;
        --display-10-extra-bold-font-weight: 800;
        --display-10-extra-bold-font-style: normal;
        --display-10-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-10-semi-bold-font-size: 3.75rem;
        --display-10-semi-bold-line-height: 3.75rem;
        --display-10-semi-bold-font-weight: 600;
        --display-10-semi-bold-font-style: normal;
        --display-10-regular-font-family: Inter-Regular, sans-serif;
        --display-10-regular-font-size: 3.75rem;
        --display-10-regular-line-height: 3.75rem;
        --display-10-regular-font-weight: 400;
        --display-10-regular-font-style: normal;
        --display-10-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-10-uppercase-extra-bold-font-size: 3.75rem;
        --display-10-uppercase-extra-bold-line-height: 3.75rem;
        --display-10-uppercase-extra-bold-font-weight: 800;
        --display-10-uppercase-extra-bold-font-style: normal;
        --display-10-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-10-uppercase-semi-bold-font-size: 3.75rem;
        --display-10-uppercase-semi-bold-line-height: 3.75rem;
        --display-10-uppercase-semi-bold-font-weight: 600;
        --display-10-uppercase-semi-bold-font-style: normal;
        --display-10-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-10-uppercase-regular-font-size: 3.75rem;
        --display-10-uppercase-regular-line-height: 3.75rem;
        --display-10-uppercase-regular-font-weight: 400;
        --display-10-uppercase-regular-font-style: normal;
        --display-9-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-9-extra-bold-font-size: 3rem;
        --display-9-extra-bold-line-height: 3rem;
        --display-9-extra-bold-font-weight: 800;
        --display-9-extra-bold-font-style: normal;
        --display-9-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-9-semi-bold-font-size: 3rem;
        --display-9-semi-bold-line-height: 3rem;
        --display-9-semi-bold-font-weight: 600;
        --display-9-semi-bold-font-style: normal;
        --display-9-regular-font-family: Inter-Regular, sans-serif;
        --display-9-regular-font-size: 3rem;
        --display-9-regular-line-height: 3rem;
        --display-9-regular-font-weight: 400;
        --display-9-regular-font-style: normal;
        --display-9-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-9-uppercase-extra-bold-font-size: 3rem;
        --display-9-uppercase-extra-bold-line-height: 3rem;
        --display-9-uppercase-extra-bold-font-weight: 800;
        --display-9-uppercase-extra-bold-font-style: normal;
        --display-9-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-9-uppercase-semi-bold-font-size: 3rem;
        --display-9-uppercase-semi-bold-line-height: 3rem;
        --display-9-uppercase-semi-bold-font-weight: 600;
        --display-9-uppercase-semi-bold-font-style: normal;
        --display-9-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-9-uppercase-regular-font-size: 3rem;
        --display-9-uppercase-regular-line-height: 3rem;
        --display-9-uppercase-regular-font-weight: 400;
        --display-9-uppercase-regular-font-style: normal;
        --display-8-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-8-extra-bold-font-size: 2.25rem;
        --display-8-extra-bold-line-height: 2.5rem;
        --display-8-extra-bold-font-weight: 800;
        --display-8-extra-bold-font-style: normal;
        --display-8-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-8-semi-bold-font-size: 2.25rem;
        --display-8-semi-bold-line-height: 2.5rem;
        --display-8-semi-bold-font-weight: 600;
        --display-8-semi-bold-font-style: normal;
        --display-8-regular-font-family: Inter-Regular, sans-serif;
        --display-8-regular-font-size: 2.25rem;
        --display-8-regular-line-height: 2.5rem;
        --display-8-regular-font-weight: 400;
        --display-8-regular-font-style: normal;
        --display-8-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-8-uppercase-extra-bold-font-size: 2.25rem;
        --display-8-uppercase-extra-bold-line-height: 2.5rem;
        --display-8-uppercase-extra-bold-font-weight: 800;
        --display-8-uppercase-extra-bold-font-style: normal;
        --display-8-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-8-uppercase-semi-bold-font-size: 2.25rem;
        --display-8-uppercase-semi-bold-line-height: 2.5rem;
        --display-8-uppercase-semi-bold-font-weight: 600;
        --display-8-uppercase-semi-bold-font-style: normal;
        --display-8-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-8-uppercase-regular-font-size: 2.25rem;
        --display-8-uppercase-regular-line-height: 2.5rem;
        --display-8-uppercase-regular-font-weight: 400;
        --display-8-uppercase-regular-font-style: normal;
        --display-7-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-7-extra-bold-font-size: 1.875rem;
        --display-7-extra-bold-line-height: 2.25rem;
        --display-7-extra-bold-font-weight: 800;
        --display-7-extra-bold-font-style: normal;
        --display-7-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-7-semi-bold-font-size: 1.875rem;
        --display-7-semi-bold-line-height: 2.25rem;
        --display-7-semi-bold-font-weight: 600;
        --display-7-semi-bold-font-style: normal;
        --display-7-regular-font-family: Inter-Regular, sans-serif;
        --display-7-regular-font-size: 1.875rem;
        --display-7-regular-line-height: 2.25rem;
        --display-7-regular-font-weight: 400;
        --display-7-regular-font-style: normal;
        --display-7-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-7-uppercase-extra-bold-font-size: 1.875rem;
        --display-7-uppercase-extra-bold-line-height: 2.25rem;
        --display-7-uppercase-extra-bold-font-weight: 800;
        --display-7-uppercase-extra-bold-font-style: normal;
        --display-7-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-7-uppercase-semi-bold-font-size: 1.875rem;
        --display-7-uppercase-semi-bold-line-height: 2.25rem;
        --display-7-uppercase-semi-bold-font-weight: 600;
        --display-7-uppercase-semi-bold-font-style: normal;
        --display-7-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-7-uppercase-regular-font-size: 1.875rem;
        --display-7-uppercase-regular-line-height: 2.25rem;
        --display-7-uppercase-regular-font-weight: 400;
        --display-7-uppercase-regular-font-style: normal;
        --display-6-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-6-extra-bold-font-size: 1.5rem;
        --display-6-extra-bold-line-height: 2rem;
        --display-6-extra-bold-font-weight: 800;
        --display-6-extra-bold-font-style: normal;
        --display-6-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-6-semi-bold-font-size: 1.5rem;
        --display-6-semi-bold-line-height: 2rem;
        --display-6-semi-bold-font-weight: 600;
        --display-6-semi-bold-font-style: normal;
        --display-6-regular-font-family: Inter-Regular, sans-serif;
        --display-6-regular-font-size: 1.5rem;
        --display-6-regular-line-height: 2rem;
        --display-6-regular-font-weight: 400;
        --display-6-regular-font-style: normal;
        --display-6-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-6-uppercase-extra-bold-font-size: 1.5rem;
        --display-6-uppercase-extra-bold-line-height: 2rem;
        --display-6-uppercase-extra-bold-font-weight: 800;
        --display-6-uppercase-extra-bold-font-style: normal;
        --display-6-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-6-uppercase-semi-bold-font-size: 1.5rem;
        --display-6-uppercase-semi-bold-line-height: 2rem;
        --display-6-uppercase-semi-bold-font-weight: 600;
        --display-6-uppercase-semi-bold-font-style: normal;
        --display-6-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-6-uppercase-regular-font-size: 1.5rem;
        --display-6-uppercase-regular-line-height: 2rem;
        --display-6-uppercase-regular-font-weight: 400;
        --display-6-uppercase-regular-font-style: normal;
        --display-5-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-5-extra-bold-font-size: 1.25rem;
        --display-5-extra-bold-line-height: 1.75rem;
        --display-5-extra-bold-font-weight: 800;
        --display-5-extra-bold-font-style: normal;
        --display-5-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-5-semi-bold-font-size: 1.25rem;
        --display-5-semi-bold-line-height: 1.75rem;
        --display-5-semi-bold-font-weight: 600;
        --display-5-semi-bold-font-style: normal;
        --display-5-regular-font-family: Inter-Regular, sans-serif;
        --display-5-regular-font-size: 1.25rem;
        --display-5-regular-line-height: 1.75rem;
        --display-5-regular-font-weight: 400;
        --display-5-regular-font-style: normal;
        --display-5-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-5-uppercase-extra-bold-font-size: 1.25rem;
        --display-5-uppercase-extra-bold-line-height: 1.75rem;
        --display-5-uppercase-extra-bold-font-weight: 800;
        --display-5-uppercase-extra-bold-font-style: normal;
        --display-5-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-5-uppercase-semi-bold-font-size: 1.25rem;
        --display-5-uppercase-semi-bold-line-height: 1.75rem;
        --display-5-uppercase-semi-bold-font-weight: 600;
        --display-5-uppercase-semi-bold-font-style: normal;
        --display-5-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-5-uppercase-regular-font-size: 1.25rem;
        --display-5-uppercase-regular-line-height: 1.75rem;
        --display-5-uppercase-regular-font-weight: 400;
        --display-5-uppercase-regular-font-style: normal;
        --display-4-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-4-extra-bold-font-size: 1.125rem;
        --display-4-extra-bold-line-height: 1.5rem;
        --display-4-extra-bold-font-weight: 800;
        --display-4-extra-bold-font-style: normal;
        --display-4-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-4-semi-bold-font-size: 1.125rem;
        --display-4-semi-bold-line-height: 1.5rem;
        --display-4-semi-bold-font-weight: 600;
        --display-4-semi-bold-font-style: normal;
        --display-4-regular-font-family: Inter-Regular, sans-serif;
        --display-4-regular-font-size: 1.125rem;
        --display-4-regular-line-height: 1.5rem;
        --display-4-regular-font-weight: 400;
        --display-4-regular-font-style: normal;
        --display-4-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-4-uppercase-extra-bold-font-size: 1.125rem;
        --display-4-uppercase-extra-bold-line-height: 1.5rem;
        --display-4-uppercase-extra-bold-font-weight: 800;
        --display-4-uppercase-extra-bold-font-style: normal;
        --display-4-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-4-uppercase-semi-bold-font-size: 1.125rem;
        --display-4-uppercase-semi-bold-line-height: 1.5rem;
        --display-4-uppercase-semi-bold-font-weight: 600;
        --display-4-uppercase-semi-bold-font-style: normal;
        --display-4-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-4-uppercase-regular-font-size: 1.125rem;
        --display-4-uppercase-regular-line-height: 1.5rem;
        --display-4-uppercase-regular-font-weight: 400;
        --display-4-uppercase-regular-font-style: normal;
        --display-3-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-3-extra-bold-font-size: 1rem;
        --display-3-extra-bold-line-height: 1.375rem;
        --display-3-extra-bold-font-weight: 800;
        --display-3-extra-bold-font-style: normal;
        --display-3-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-3-semi-bold-font-size: 1rem;
        --display-3-semi-bold-line-height: 1.375rem;
        --display-3-semi-bold-font-weight: 600;
        --display-3-semi-bold-font-style: normal;
        --display-3-regular-font-family: Inter-Regular, sans-serif;
        --display-3-regular-font-size: 1rem;
        --display-3-regular-line-height: 1.375rem;
        --display-3-regular-font-weight: 400;
        --display-3-regular-font-style: normal;
        --display-3-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-3-uppercase-extra-bold-font-size: 1rem;
        --display-3-uppercase-extra-bold-line-height: 1.375rem;
        --display-3-uppercase-extra-bold-font-weight: 800;
        --display-3-uppercase-extra-bold-font-style: normal;
        --display-3-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-3-uppercase-semi-bold-font-size: 1rem;
        --display-3-uppercase-semi-bold-line-height: 1.375rem;
        --display-3-uppercase-semi-bold-font-weight: 600;
        --display-3-uppercase-semi-bold-font-style: normal;
        --display-3-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-3-uppercase-regular-font-size: 1rem;
        --display-3-uppercase-regular-line-height: 1.375rem;
        --display-3-uppercase-regular-font-weight: 400;
        --display-3-uppercase-regular-font-style: normal;
        --display-3-underline-regular-font-family: Inter-Regular, sans-serif;
        --display-3-underline-regular-font-size: 1rem;
        --display-3-underline-regular-line-height: 1.375rem;
        --display-3-underline-regular-font-weight: 400;
        --display-3-underline-regular-font-style: normal;
        --display-3-underline-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-3-underline-semi-bold-font-size: 1rem;
        --display-3-underline-semi-bold-line-height: 1.375rem;
        --display-3-underline-semi-bold-font-weight: 600;
        --display-3-underline-semi-bold-font-style: normal;
        --display-3-underline-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-3-underline-extra-bold-font-size: 1rem;
        --display-3-underline-extra-bold-line-height: 1.375rem;
        --display-3-underline-extra-bold-font-weight: 800;
        --display-3-underline-extra-bold-font-style: normal;
        --display-2-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-2-extra-bold-font-size: 0.875rem;
        --display-2-extra-bold-line-height: 1.25rem;
        --display-2-extra-bold-font-weight: 800;
        --display-2-extra-bold-font-style: normal;
        --display-2-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-2-semi-bold-font-size: 0.875rem;
        --display-2-semi-bold-line-height: 1.25rem;
        --display-2-semi-bold-font-weight: 600;
        --display-2-semi-bold-font-style: normal;
        --display-2-regular-font-family: Inter-Regular, sans-serif;
        --display-2-regular-font-size: 0.875rem;
        --display-2-regular-line-height: 1.25rem;
        --display-2-regular-font-weight: 400;
        --display-2-regular-font-style: normal;
        --display-2-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-2-uppercase-extra-bold-font-size: 0.875rem;
        --display-2-uppercase-extra-bold-line-height: 1.25rem;
        --display-2-uppercase-extra-bold-font-weight: 800;
        --display-2-uppercase-extra-bold-font-style: normal;
        --display-2-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-2-uppercase-semi-bold-font-size: 0.875rem;
        --display-2-uppercase-semi-bold-line-height: 1.25rem;
        --display-2-uppercase-semi-bold-font-weight: 600;
        --display-2-uppercase-semi-bold-font-style: normal;
        --display-2-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-2-uppercase-regular-font-size: 0.875rem;
        --display-2-uppercase-regular-line-height: 1.25rem;
        --display-2-uppercase-regular-font-weight: 400;
        --display-2-uppercase-regular-font-style: normal;
        --display-1-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-1-extra-bold-font-size: 0.75rem;
        --display-1-extra-bold-line-height: 1.125rem;
        --display-1-extra-bold-font-weight: 800;
        --display-1-extra-bold-font-style: normal;
        --display-1-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-1-semi-bold-font-size: 0.75rem;
        --display-1-semi-bold-line-height: 1.125rem;
        --display-1-semi-bold-font-weight: 600;
        --display-1-semi-bold-font-style: normal;
        --display-1-regular-font-family: Inter-Regular, sans-serif;
        --display-1-regular-font-size: 0.75rem;
        --display-1-regular-line-height: 1.125rem;
        --display-1-regular-font-weight: 400;
        --display-1-regular-font-style: normal;
        --display-1-uppercase-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --display-1-uppercase-extra-bold-font-size: 0.75rem;
        --display-1-uppercase-extra-bold-line-height: 1.125rem;
        --display-1-uppercase-extra-bold-font-weight: 800;
        --display-1-uppercase-extra-bold-font-style: normal;
        --display-1-uppercase-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --display-1-uppercase-semi-bold-font-size: 0.75rem;
        --display-1-uppercase-semi-bold-line-height: 1.125rem;
        --display-1-uppercase-semi-bold-font-weight: 600;
        --display-1-uppercase-semi-bold-font-style: normal;
        --display-1-uppercase-regular-font-family: Inter-Regular, sans-serif;
        --display-1-uppercase-regular-font-size: 0.75rem;
        --display-1-uppercase-regular-line-height: 1.125rem;
        --display-1-uppercase-regular-font-weight: 400;
        --display-1-uppercase-regular-font-style: normal;
        --paragraph-large-regular-font-family: Inter-Regular, sans-serif;
        --paragraph-large-regular-font-size: 1.125rem;
        --paragraph-large-regular-line-height: 1.75rem;
        --paragraph-large-regular-font-weight: 400;
        --paragraph-large-regular-font-style: normal;
        --paragraph-large-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --paragraph-large-semi-bold-font-size: 1.125rem;
        --paragraph-large-semi-bold-line-height: 1.75rem;
        --paragraph-large-semi-bold-font-weight: 600;
        --paragraph-large-semi-bold-font-style: normal;
        --paragraph-large-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --paragraph-large-extra-bold-font-size: 1.125rem;
        --paragraph-large-extra-bold-line-height: 1.75rem;
        --paragraph-large-extra-bold-font-weight: 800;
        --paragraph-large-extra-bold-font-style: normal;
        --paragraph-large-link-regular-font-family: Inter-Regular, sans-serif;
        --paragraph-large-link-regular-font-size: 1.125rem;
        --paragraph-large-link-regular-line-height: 1.75rem;
        --paragraph-large-link-regular-font-weight: 400;
        --paragraph-large-link-regular-font-style: normal;
        --paragraph-large-link-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --paragraph-large-link-semi-bold-font-size: 1.125rem;
        --paragraph-large-link-semi-bold-line-height: 1.75rem;
        --paragraph-large-link-semi-bold-font-weight: 600;
        --paragraph-large-link-semi-bold-font-style: normal;
        --paragraph-large-link-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --paragraph-large-link-extra-bold-font-size: 1.125rem;
        --paragraph-large-link-extra-bold-line-height: 1.75rem;
        --paragraph-large-link-extra-bold-font-weight: 800;
        --paragraph-large-link-extra-bold-font-style: normal;
        --paragraph-medium-regular-font-family: Inter-Regular, sans-serif;
        --paragraph-medium-regular-font-size: 1rem;
        --paragraph-medium-regular-line-height: 1.5rem;
        --paragraph-medium-regular-font-weight: 400;
        --paragraph-medium-regular-font-style: normal;
        --paragraph-medium-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --paragraph-medium-semi-bold-font-size: 1rem;
        --paragraph-medium-semi-bold-line-height: 1.5rem;
        --paragraph-medium-semi-bold-font-weight: 600;
        --paragraph-medium-semi-bold-font-style: normal;
        --paragraph-medium-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --paragraph-medium-extra-bold-font-size: 1rem;
        --paragraph-medium-extra-bold-line-height: 1.5rem;
        --paragraph-medium-extra-bold-font-weight: 800;
        --paragraph-medium-extra-bold-font-style: normal;
        --paragraph-medium-link-regular-font-family: Inter-Regular, sans-serif;
        --paragraph-medium-link-regular-font-size: 1rem;
        --paragraph-medium-link-regular-line-height: 1.5rem;
        --paragraph-medium-link-regular-font-weight: 400;
        --paragraph-medium-link-regular-font-style: normal;
        --paragraph-medium-link-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --paragraph-medium-link-semi-bold-font-size: 1rem;
        --paragraph-medium-link-semi-bold-line-height: 1.5rem;
        --paragraph-medium-link-semi-bold-font-weight: 600;
        --paragraph-medium-link-semi-bold-font-style: normal;
        --paragraph-medium-link-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --paragraph-medium-link-extra-bold-font-size: 1rem;
        --paragraph-medium-link-extra-bold-line-height: 1.5rem;
        --paragraph-medium-link-extra-bold-font-weight: 800;
        --paragraph-medium-link-extra-bold-font-style: normal;
        --paragraph-default-regular-font-family: Inter-Regular, sans-serif;
        --paragraph-default-regular-font-size: 0.875rem;
        --paragraph-default-regular-line-height: 1.375rem;
        --paragraph-default-regular-font-weight: 400;
        --paragraph-default-regular-font-style: normal;
        --paragraph-default-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --paragraph-default-semi-bold-font-size: 0.875rem;
        --paragraph-default-semi-bold-line-height: 1.375rem;
        --paragraph-default-semi-bold-font-weight: 600;
        --paragraph-default-semi-bold-font-style: normal;
        --paragraph-default-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --paragraph-default-extra-bold-font-size: 0.875rem;
        --paragraph-default-extra-bold-line-height: 1.375rem;
        --paragraph-default-extra-bold-font-weight: 800;
        --paragraph-default-extra-bold-font-style: normal;
        --paragraph-default-link-regular-font-family: Inter-Regular, sans-serif;
        --paragraph-default-link-regular-font-size: 0.875rem;
        --paragraph-default-link-regular-line-height: 1.375rem;
        --paragraph-default-link-regular-font-weight: 400;
        --paragraph-default-link-regular-font-style: normal;
        --paragraph-default-link-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --paragraph-default-link-semi-bold-font-size: 0.875rem;
        --paragraph-default-link-semi-bold-line-height: 1.375rem;
        --paragraph-default-link-semi-bold-font-weight: 600;
        --paragraph-default-link-semi-bold-font-style: normal;
        --paragraph-default-link-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --paragraph-default-link-extra-bold-font-size: 0.875rem;
        --paragraph-default-link-extra-bold-line-height: 1.375rem;
        --paragraph-default-link-extra-bold-font-weight: 800;
        --paragraph-default-link-extra-bold-font-style: normal;
        --paragraph-small-regular-font-family: Inter-Regular, sans-serif;
        --paragraph-small-regular-font-size: 0.75rem;
        --paragraph-small-regular-line-height: 1.125rem;
        --paragraph-small-regular-font-weight: 400;
        --paragraph-small-regular-font-style: normal;
        --paragraph-small-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --paragraph-small-semi-bold-font-size: 0.75rem;
        --paragraph-small-semi-bold-line-height: 1.125rem;
        --paragraph-small-semi-bold-font-weight: 600;
        --paragraph-small-semi-bold-font-style: normal;
        --paragraph-small-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --paragraph-small-extra-bold-font-size: 0.75rem;
        --paragraph-small-extra-bold-line-height: 1.125rem;
        --paragraph-small-extra-bold-font-weight: 800;
        --paragraph-small-extra-bold-font-style: normal;
        --paragraph-small-link-regular-font-family: Inter-Regular, sans-serif;
        --paragraph-small-link-regular-font-size: 0.75rem;
        --paragraph-small-link-regular-line-height: 1.125rem;
        --paragraph-small-link-regular-font-weight: 400;
        --paragraph-small-link-regular-font-style: normal;
        --paragraph-small-link-semi-bold-font-family: Inter-SemiBold, sans-serif;
        --paragraph-small-link-semi-bold-font-size: 0.75rem;
        --paragraph-small-link-semi-bold-line-height: 1.125rem;
        --paragraph-small-link-semi-bold-font-weight: 600;
        --paragraph-small-link-semi-bold-font-style: normal;
        --paragraph-small-link-extra-bold-font-family: Inter-ExtraBold, sans-serif;
        --paragraph-small-link-extra-bold-font-size: 0.75rem;
        --paragraph-small-link-extra-bold-line-height: 1.125rem;
        --paragraph-small-link-extra-bold-font-weight: 800;
        --paragraph-small-link-extra-bold-font-style: normal;

        /* Effects */
        --style-guide-icons-sidebar-box-shadow: 0rem 0.0625rem 0.1875rem 0rem rgba(35, 136, 255, 0.2);
        --neutral-shadow-01-box-shadow: 0rem 0.03125rem 0.125rem 0rem rgba(25, 33, 61, 0.11);
        --neutral-shadow-02-box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(25, 33, 61, 0.08);
        --neutral-shadow-03-box-shadow: 0rem 0.125rem 0.375rem 0rem rgba(25, 33, 61, 0.14);
        --neutral-shadow-04-box-shadow: 0rem 0.3125rem 0.9375rem 0rem rgba(25, 33, 61, 0.11);
        --neutral-shadow-05-box-shadow: 0rem 0.75rem 1.625rem 0rem rgba(25, 33, 61, 0.12);
        --neutral-shadow-06-box-shadow: 0rem 1.375rem 2.25rem 0rem rgba(25, 33, 61, 0.12);
        --primary-color-shadow-01-box-shadow: 0rem 0.03125rem 0.125rem 0rem rgba(78, 159, 255, 0.14);
        --primary-color-shadow-02-box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(78, 159, 255, 0.2);
        --primary-color-shadow-03-box-shadow: 0rem 0.125rem 0.375rem 0rem rgba(78, 159, 255, 0.12);
        --primary-color-shadow-04-box-shadow: 0rem 0.25rem 0.875rem 0rem rgba(78, 159, 255, 0.12);
        --primary-color-shadow-05-box-shadow: 0rem 0.75rem 1.625rem 0rem rgba(78, 159, 255, 0.12);
        --primary-color-shadow-06-box-shadow: 0rem 1.375rem 2.25rem 0rem rgba(78, 159, 255, 0.12);
        --secondary-color-shadow-01-box-shadow: 0rem 0.03125rem 0.125rem 0rem rgba(255, 45, 70, 0.14);
        --secondary-color-shadow-02-box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(255, 45, 70, 0.14);
        --secondary-color-shadow-03-box-shadow: 0rem 0.125rem 0.375rem 0rem rgba(255, 45, 70, 0.12);
        --secondary-color-shadow-04-box-shadow: 0rem 0.25rem 0.875rem 0rem rgba(255, 45, 70, 0.12);
        --secondary-color-shadow-05-box-shadow: 0rem 0.75rem 1.625rem 0rem rgba(255, 45, 70, 0.12);
        --secondary-color-shadow-06-box-shadow: 0rem 1.375rem 2.25rem 0rem rgba(255, 45, 70, 0.12);
}